<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 photo">
        <img [src]="mePhotoUrlFromCdn.medium" class="img-fluid d-lg-none" alt="profile picture">
        <img [src]="mePhotoUrlFromCdn.large" class="img-fluid d-none d-lg-block" alt="profile picture">
        <h3>Antoine Pissot</h3>
        <a *ngFor="let link of linkProfile" class="profile-links" [href]="link.url" target="_blank" rel="noopener">
          <i class="fas fa-link"></i>
          <app-logo [logoInfo]="link.logoInfo"></app-logo>
        </a>
        <a class="profile-links" (click)="goToContactForm()">
          <i class="far fa-envelope"></i>
          <span>{{ 'CONTACT.TITLE_CONTENT' | translate }}</span>
        </a>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-6 d-none d-sm-block">
        <div class="about-me">
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of aboutMe" class="list-group-item">{{ item }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
