@import '_bootstrap_settings.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.education {
  padding: $defaultPadding;

  @include media-breakpoint-up(md) {
    .vertical-divider {
      border-right: 1px solid black;
    }
  }


  .education-content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

    .education-headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  i {
    margin-right: 0.2rem;
  }

  mat-divider {
    margin: 1rem 0;
  }
}
