<div class="education mauve-background">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1> {{ 'EDUCATION.TITLE_MENU' | translate }} </h1>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let item of education; let last = last;" [ngClass]="{ 'vertical-divider': !last }" class="education-content col-md-6">
        <div class="education-headers">
          <app-logo [logoInfo]="item.logoInfo"></app-logo>
          <h4 class="text-center">{{ item.description }}</h4>
          <p class="text-center">{{ item.dates }}</p>

        </div>
        <div class="hr-space-between">
          <a *ngIf="item.website.url" [href]="item.website.url" target="_blank" rel="noopener">
            <i class="fas fa-link"></i>{{ item.website.nameLink }}
          </a>

          <a [href]="item.location.googleMapUrl" target="_blank" rel="noopener">
            <i class="fas fa-map-marker-alt"></i>{{ item.location.name }}
          </a>
        </div>

        <mat-divider class="d-md-none" *ngIf="!last"></mat-divider>
      </div>
    </div>

  </div>

</div>




