@import '_bootstrap_settings.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.job-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

i {
  margin-right: 0.2rem;
}

img {
  margin-bottom: 0.5rem;
}

@include media-breakpoint-only( md ) {
  .hr-space-between {
    flex-direction: column;
  }
}
