@import '_bootstrap_settings.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import 'styles.scss';

.interests {
  padding: $defaultPadding;
  // padding-bottom: 0;

  .icon {
    font-size: 3rem;
  }

  .mat-tab-labels {
    justify-content: space-between;
  }

  .mat-tab-label {
    opacity: 1 !important;
    width: 100%;
    color: $gray-600;
    padding: 1rem;
    height: 4rem;
  }

  .mat-tab-label-active {
    background-color: $mauveLight;
    .icon {
      color: $black;
    }
  }

  .tab-content {

    padding: 1rem;
    background-color: $mauveLight;

    img {
      border-radius: 10px;
      margin-left: 1rem;
      height: 200px;
    }
  }

}

.carousel-item {
  img {
    max-height: calc( 100vh - #{ $navbarHeight } );
    width: auto;
  }

  .carousel-caption {

    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &.carousel-top {
      bottom: auto;
      top: 20px;
    }
  }
}
