
<p class="job-summary">{{ jobExperience.jobSummary }}</p>
<h5 *ngIf="jobExperience.description.length !== 0">{{ 'EXPERIENCE.KEY_RESPONSIBILITIES' | translate }}:</h5>

<div *ngIf="!isSmallScreen">
  <ul>
    <li *ngFor="let line of jobExperience.description" [innerHTML]="line | appSanitizeHtml"></li>
  </ul>
</div>


<div *ngIf="isSmallScreen" class="small-screen">
  <p *ngFor="let line of jobExperience.description" [innerHTML]="line | appSanitizeHtml"></p>
</div>

<div class="all-logos">
  <app-logo *ngFor="let logo of jobExperience.logos" [logoInfo]="logo"></app-logo>
</div>
