<nav class="bg-dark fixed-top">

  <div class="container">
    <div class="row">
      <div class="col navbar navbar-expand-sm navbar-dark ">
        <a class="navbar-brand nav-link" (click)="goToProfile( $event )">
          <img [src]="tonioLogoUrl" width="30" height="30" alt="profile picture">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let item of menuItems" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link"
                 (click)="menuItemClicked($event, item.type )">{{ item.titleToTranslate | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
