<div class="home">
  <app-profile></app-profile>
  <app-experience></app-experience>
  <app-expertise></app-expertise>
  <app-education></app-education>
  <app-languages></app-languages>
  <app-interests></app-interests>
  <app-contact></app-contact>
  <app-carrousel-photos></app-carrousel-photos>
</div>
